@font-face {
  font-family: Pricedown;
  src: url(assets/fonts/pricedown_bl.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

.app {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  width: 80%;
}


.cover-input, .cover-input:focus {
  background-color: #333;
  font-size: 23px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}

.image-result {
  border: 1px solid #ccc;
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
}

.image-result img {
  max-width: 100%;
  max-height: 100%;
}

.rect {
  border-radius: 2px;
  border: 3px solid white;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  left: -1000px;
  opacity: .5;
  position: absolute;
  top: -1000px;
  z-index: 9999;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  display: block;
  background-color: #fff;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  text-align: center;
  opacity: .8;
}
.masthead-brand h3 {
  font-family: Pricedown;
  font-size: 1.8em;
  line-height: 0;
  margin-top: 17px;
  text-shadow: none;
  background: transparent;
  color: #333;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.heart {
  fill: red;
  width: 15px;
  margin: 0px 4px 0px 4px;
  animation: heartbeat 1.5s ease infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}